@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

$primaryColor: #637eff;
$secondaryColor: #fc5185;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    background-color: white;
    width: 0.4rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
  }
}

ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: 0.1rem solid transparent;
  background-color: $primaryColor;
  color: white;
  font-weight: bold;
  font-size: larger;
  padding: 1.3rem 3rem;
  border-radius: 3rem;
  &:hover {
    cursor: pointer;
    border: 0.1rem solid $primaryColor;
    background-color: white;
    color: $primaryColor;
  }
}
h1 {
  color: $primaryColor;
  font-size: 3em;
}

h2 {
  color: $primaryColor;
  font-size: 2.2em;
}

h3 {
  color: $primaryColor;
  font-size: 1.4em;
}

h4 {
  color: $primaryColor;
  font-size: 1.2em;
}

h5 {
  color: rgb(116, 116, 116);
  font-weight: 500;
  font-size: 1.15em;
  letter-spacing: 0.05rem;
  line-height: 1.7em;
}

p {
  color: rgb(116, 116, 116);
  font-size: 1.1em;
  letter-spacing: 0.04em;
  line-height: 1.5em;
}

.merah {
  color: $secondaryColor;
}

a {
  color: $primaryColor;
  transition: 0.3s ease-in-out;
  font-size: 1.3em;
  margin: 0 2em;
  &:hover {
    color: $primaryColor;
  }
}

.info {
  .subtitle {
    margin-top: 0.5rem;
  }
  .title {
    color: $primaryColor;
    margin-top: 0.5rem;
  }
  p {
    font-size: 1.2rem;
  }
  .description {
    color: #777777;
    margin: 1rem 0;
  }
}

@mixin enableFlex($direction: false) {
  display: flex;
  align-items: center;
  justify-content: center;
  @if $direction {
    flex-direction: column;
  }
}

.navbar {
  padding: 1rem 2rem;
  margin: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  //   background-color: beige;
  align-items: center;
  .brand {
    img {
      cursor: pointer;
    }
  }
  .links {
    ul {
      display: flex;
      align-items: center;
      a {
        font-weight: bold;
        margin: 0 3.2rem;
        font-size: 1.7rem;
        border: 1px solid transparent;
        &:hover {
          opacity: 50%;
        }
      }
    }
  }
}

.scroll-on-top {
  height: 60px;
  width: 60px;
  position: fixed;
  z-index: 9999;
  bottom: 15px;
  right: 15px;
  display: none;
  border: 1px solid seashell;
  background-color: #fc5185;
  border-radius: 100%;
  cursor: pointer;
}

.starter {
  @include enableFlex();
  position: relative;
  margin: 2rem 0rem;
  top: -3rem;
  justify-content: space-between;
  padding: 0rem 1rem;
  //   background-color: beige;
  .info {
    // background-color: aqua;
    position: relative;
    margin: 0rem 5rem;
    top: -3.5rem;
    .title {
      font-size: 1.3rem;
    }
    .form {
      input {
        font-size: 1.3rem;
        width: 35rem;
        padding: 2rem;
        border-radius: 5rem;
        border: 1px solid transparent;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
          rgba(17, 17, 26, 0.1) 0px 8px 24px,
          rgba(17, 17, 26, 0.1) 0px 16px 56px;
      }
      button {
        position: absolute;
        right: 1rem;
        top: 13.2rem;
        &:hover {
          background-color: $primaryColor;
          color: white;
        }
      }
    }
  }
}

.wave-1 {
  position: relative;
  top: -19rem;
}

.wave-2 {
  position: relative;
  top: -19.3rem;
}

.promo {
  margin-top: -38rem;
  text-align: center;
  .judul {
    position: relative;
    margin: auto;
    max-width: 40%;
    text-align: center;
    p {
      margin: 1rem;
    }
  }
  .cards {
    margin: 4rem 4rem;
    gap: 2rem;
    @include enableFlex();
    position: relative;
    .card {
      padding: 2rem;
      transition: 0.3s ease-in-out;
      border-radius: 2rem;
      border: 2px solid transparent;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
      .price {
        .discount {
          @include enableFlex();
          p {
            text-decoration: line-through;
          }
          span {
            background-color: $primaryColor;
            color: white;
            padding: 1rem;
            font-weight: bold;
            border-radius: 2rem;
            margin-left: 0.5rem;
          }
        }
        h2 {
          margin: 1rem 0;
          font-size: 3rem;
        }
        .description {
          margin: 1rem;
        }
      }
      &:hover {
        border: 2px solid $primaryColor;
      }
    }
    .features {
      .website {
        display: flex;
        align-items: center;
        i {
          font-size: 1.5rem;
          color: $primaryColor;
        }
        h5 {
          margin-left: 0.5rem;
          font-size: 1.5rem;
        }
        p {
          margin-left: 0.5rem;
          font-size: 1.5rem;
        }
      }
      .storage {
        display: flex;
        align-items: center;
        i {
          font-size: 1.5rem;
          color: $primaryColor;
        }
        h5 {
          margin-left: 0.5rem;
          font-size: 1.5rem;
        }
        p {
          margin-left: 0.5rem;
          font-size: 1.5rem;
        }
      }
      .visitor {
        display: flex;
        align-items: center;
        i {
          font-size: 1.5rem;
          color: $primaryColor;
        }
        h5 {
          margin-left: 0.5rem;
          font-size: 1.5rem;
        }
        p {
          margin-left: 0.5rem;
          font-size: 1.5rem;
        }
      }
      .email {
        display: flex;
        align-items: center;
        i {
          font-size: 1.5rem;
          color: $primaryColor;
        }
        h5 {
          margin-left: 0.5rem;
          font-size: 1.5rem;
        }
        p {
          margin-left: 0.5rem;
          font-size: 1.5rem;
        }
      }
      .read-more {
        display: flex;
        align-items: center;
        i {
          font-size: 1.5rem;
          color: $primaryColor;
        }
        h5 {
          margin-left: 0.5rem;
          font-size: 1.5rem;
        }
        p {
          margin-left: 0.5rem;
          font-size: 1.5rem;
        }
      }
      hr {
        @include enableFlex();
        width: 80%;
        margin: 2rem;
      }
      .read-more {
        @include enableFlex();
        h4 {
          cursor: pointer;
        }
      }
    }
  }
}

#why {
  @include enableFlex();
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  width: 100%;
  background-color: $primaryColor;
  .info {
    margin: 3rem 0;
    width: 60%;
    h1 {
      color: white;
      font-size: 4rem;
    }
    p {
      color: white;
    }
  }
}

#services {
  @include enableFlex();
  margin: 0rem;
  // background-color: aqua;
  .services-log {
    .service {
      margin: 1rem 0;
      @include enableFlex();
      align-items: center;
      .info {
        // background-color: aqua;
        width: 40%;
        .subtitle {
          color: #fc5185;
          opacity: 60%;
          font-size: 1.5rem;
        }
        .title {
          font-size: 3.5rem;
          margin: 1rem 0;
        }
      }
      .image {
        img {
          max-width: 40rem;
        }
      }
    }
  }
}

#closing {
  @include enableFlex();
  text-align: center;
  margin: 2rem 0;
  padding: 3rem 0;
  .info {
    // align-items: center;
    width: 50%;
  }
}

#footer {
  @include enableFlex();
  background-color: $primaryColor;
  flex-direction: column;
  columns: 4;
  width: 100%;
  .footer-log {
    margin: 3rem 15rem;
    display: flex;
    .intro {
      width: 35%;
      .info {
        h1 {
          color: white;
        }
        p {
          color: white;
        }
      }
    }
    .hosting {
      margin: 0 1rem;
      // text-align: center;
      .info {
        // display: flex;
        .title {
          color: white;
          margin-bottom: 1rem;
        }
        ul li {
          margin: 0.8rem 0;
        }
        ul li a {
          margin: 0rem 0;
          color: white;
          &:hover {
            opacity: 60%;
          }
        }
      }
    }
    .domain {
      margin: 0 1rem;
      // text-align: center;
      .info {
        // display: flex;
        .title {
          color: white;
          margin-bottom: 1rem;
        }
        ul li {
          margin: 0.8rem 0;
        }
        ul li a {
          margin: 0 0;
          color: white;
          &:hover {
            opacity: 60%;
          }
        }
      }
    }
    .informasi {
      margin: 0 1rem;
      // text-align: center;
      .info {
        // display: flex;
        .title-informasi {
          margin-top: 0.4rem;
          color: white;
        }
        .title-legal {
          margin-top: 2rem;
          color: white;
        }
        ul li {
          margin: 0.8rem 0;
        }
        ul li a {
          margin: 0 0;
          color: white;
          &:hover {
            opacity: 60%;
          }
        }
      }
    }
    .perusahaan {
      margin: 0 1rem;
      // text-align: center;
      .info {
        // display: flex;
        .title-perusahaan {
          margin-top: 0.4rem;
          color: white;
        }
        .title-bantuan {
          margin-top: 2rem;
          color: white;
        }
        ul li {
          margin: 0.8rem 0;
        }
        ul li a {
          margin: 0 0;
          color: white;
          &:hover {
            opacity: 60%;
          }
        }
      }
    }
  }
}
.copyright {
  background-color: #637eff;
  display: flex;
  align-items: center;

  .copyright-div {
    @include enableFlex();
    width: 70%;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 1rem;
    display: flex;
    margin: 0 14rem;
    .info {
      h1 {
        font-size: 1.5rem;
        color: white;
      }
    }
    .sosmed {
      ul li {
        color: white;
        display: inline;
        i {
          margin: 0 1rem;
          font-size: 1.6rem;
          cursor: pointer;
          &:hover {
            opacity: 30%;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
}
